---
title: Tentang Simaster
layout: default
description: Informasi mengenai blog dari simaster
---
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="index.html">Beranda</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Tentang Simaster</li>
        </ul>
        <p class="text-lighten mb-0">Simaster adalah salah satu website dan terintegritas dengan channel youtube <b>Master Wifi Network Solution</b>. Berdiri pada tahun 2018 hingga sekarang, kami selalu eksis dalam hal networking baik internal maupun eksternal.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid w-100 mb-4" src="images/about/about-page.jpg" alt="about image">
        <h2 class="section-title">Perjalanan Karir Simaster</h2>
        <p>Simaster adalah salah satu website para master networking dan terintegritas dengan channel-channel youtube ternama di indonesia. Berdiri pada tahun 2018 hingga sekarang masih eksis. Dan semua informasi dari para master akan kami berikan secara exclusive untuk anda semua.</p>
        <p>Pada kesempatan ini Simaster akan selalu merangkul semua para developer dan networking lainnya agar bisa selalu bekerja sama untuk memajukan koneksi yang ada di indonesia.</p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="5">0</h2>
          <h5 class="text-white">Masters</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="156">0</h2>
          <h5 class="text-white">Kursus</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="238">0</h2>
          <h5 class="text-white">Siswa</h5>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="3737">0</h2>
          <h5 class="text-white">Kepuasan KLien</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /funfacts -->

<!-- success story -->
{% include motivasi.html %}
<!-- /success story -->

<!-- teachers -->
{% include mentor.html %}
  <!-- /teachers -->
