---
title: Blog
layout: default
description: Semua konten blog dari simaster
---
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="index.html">Beranda</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">{{page.title}}</li>
        </ul>
        <p class="text-lighten mb-0">{{page.description}}.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- blogs -->
<section class="section">
  <div class="container">
   {% for post in site.posts %} 
    <div class="row">
      <!-- blog post -->
      <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          {% if post.image %}{% include post-featured-image.html image=post.image %}{% endif %}
          <div class="card-body">
            <!-- post meta -->
            <ul class="list-inline mb-3">
              <!-- post date -->
              <li class="list-inline-item mr-3 ml-0">{{ post.date | date: -d %B %Y }}</li>
              <!-- author -->
              <li class="list-inline-item mr-3 ml-0">By {{site.author}}</li>
            </ul>
            <a href="blog-single.html">
              <h4 class="card-title">{{post.title}}</h4>
            </a>
            <p class="card-text">{{post.description}}</p>
            <a href="{{post.url | absolute_url}}" class="btn btn-primary btn-sm">Selengkapnya</a>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}
  </div>
</section>
<!-- /blogs -->
