---
title: Beranda
layout: default
description: Selamat datang di situs Simaster
---
<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-1.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Belajar dengan Simaster lebih mudah</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Anda tidak perlu bingung mencari tempat belajar karena Simaster sudah menyiapkan semua untuk anda.</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Berlangganan</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Banyak pilihan konfigurasi tersedia di Simaster</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">Dapatkan berbagai variasi konfigurasi sesuai dengan keinginan yang anda inginkan.</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Berlangganan</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Tutorial tertulis atau langsung dari Simaster</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Kini Simaster telah membuka pembelajaran langsung baik secara tertulis mau pun secara langsung khusus untuk anda.</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Berlangganan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->

<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img class="img-fluid w-100" src="images/banner/banner-feature.png" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Metode Pembelajaran Mudah</h3>
            <p>Kami akan berupaya sebaik mungkin mengajarkan kepada anda dengan sangat detail agar anda bisa dengan mudah memahami materi yang akan anda pelajari kepada kami.</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Beragam materi edukasi networking</h3>
            <p>Ada banyak pilihan yang bisa anda dapatkan dalam materi yang anda pelajari kepada kami sesuai dengan materi yang sudah kami terapkan.</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Berbagai file dokument Simaster</h3>
            <p>Anda bisa mendapatkan file-file dari yang telah kami siapkan khusus untuk anda.</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Administrasi yang terjangkau</h3>
            <p>Kami telah berupaya untuk meringankan beban anda dalam hal keuangan untuk bisa mengikuti pembelajaran dari kami. Anda bisa menghubungi admin kami untuk lebih lanjut.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /banner-feature -->

<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">Tentang Simaster</h2>
        <p>Simaster adalah salah satu website dan terintegritas dengan channel youtube <b>Master Wifi Network Solution.</b></p>
        <p>Berdiri pada tahun 2018 hingga sekarang, kami selalu eksis dalam hal networking baik internal maupun eksternal.</p>
        <a href="about.html" class="btn btn-outline-primary">Selengkapnya</a>
      </div>
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="images/about/about-us.jpg" alt="about image">
      </div>
    </div>
  </div>
</section>
<!-- /about us -->

<!-- courses -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Informasi Terupdate</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="courses.html" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">see all</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
<div class="row justify-content-center">
  <!-- course item -->
  {% for page in site.pages limit:6 %}
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      {% if page.image %}{% include page-featured-image.html image=page.image %}{% endif %}
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{ page.date | date: "%d %B %Y" }}</li>
          <li class="list-inline-item">{% if page.tags != null %}{% assign projectTags = site.data.tags.allowed-tags %}{% for tag in page.tags %}{% if projectTags contains tag %}<a href="/{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}{% endif %}{% endfor %}{% endif %}</li>
        </ul>
        <a href="course-single.html">
          <h4 class="card-title">{{page.title}}</h4>
        </a>
        <p class="card-text mb-4"> {{page.description}}</p>
        <a href="{{page.url | absolute_url}}" class="btn btn-primary btn-sm">Selengkapnya</a>
      </div>
    </div>
  </div>
  {% endfor %}

<!-- /course list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="#!" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">Lihat semua</a>
      </div>
    </div>
  </div>
</section>
<!-- /courses -->

<!-- cta -->
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">Lihat materi kami di channel Youtube</h6>
        <h2 class="section-title text-white">Master Wifi Network Solution</h2>
        <a href="https://youtube.com/@idtechannel" class="btn btn-light">Lihat Sekarang</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->

<!-- success story -->
<section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="https://youtu.be/ilbLf4b9bYQ?si=f3vpVRlvIfxkc1SA" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">Kunci Kesuksesan Belajar</h2>
          <p>Hal yang perlu kita semua ketahui agar bisa sukses dalam belajar adalah ketekunan, kegigihan, terampil, semangat yang tinggi, dan tidak pantang untuk menyerah.</p>
          <p>Kami ingin anda bisa seperti kami dan bisa mandiri setelah berhasil dalam pembelajaran yang anda pelajari kepada kami. <br><br><b>Muhammad Yusuf</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /success story -->

<!-- events -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Acara Mendatang</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="events.html" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">Lihat Semua</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
        <div class="card-date"><span>1</span><br>Agustus</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Banjarmasin, Indonesia</p>
        <a href="event-single.html"><h4 class="card-title">Pembelajaran interaktif membuat config clash.</h4></a>
      </div>
    </div>
  </div>
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-2.jpg" alt="event thumb">
        <div class="card-date"><span>21</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
      </div>
    </div>
  </div>
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-3.jpg" alt="event thumb">
        <div class="card-date"><span>23</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
      </div>
    </div>
  </div>
</div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="course.html" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">sell all</a>
      </div>
    </div>
  </div>
</section>
<!-- /events -->

<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title">Para Master</h2>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-1.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Muhammad Yusuf</h4>
            </a>
            <p>Channel Master Wifi Network Solution</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.google}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.linkedin}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-2.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Reyre STb</h4>
            </a>
            <p>Channel Openwrt Mod</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook2}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter2}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{sitr.google2}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.linkedin2}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-3.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Bang Sandi</h4>
            </a>
            <p>Channel Bang Sandi TV</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook3}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter3}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.google3}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.youtube3}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->

<!-- blog -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Post Terbaru</h2>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- blog post -->
{% for post in site.posts limit:4 %}
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      {% if post.image %}{% include post-featured-image.html image=post.image %}{% endif %}
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">{{ post.date | date: "%d %B %Y" }}</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">By {{site.author}}</li>
        </ul>
        <a href="{{post.url | absolute_url}}">
          <h4 class="card-title">{{post.title}}</h4>
        </a>
        <p class="card-text">{{post.description}}</p>
        <a href="{{post.url | absolute_url}}" class="btn btn-primary btn-sm">Selengkapnya</a>
      </div>
    </div>
  </article>
{% endfor %}
</div>
  </div>
</section>
<!-- /blog -->
