<div class="b-example-divider"></div>
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-black" style="width: 380px;">
  <a style="text-decoration:none;" href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold"><b>Kegiatan Simaster</b></span>
  </a>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <a style="text-decoration:none;" href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Optimasi Blog Simaster</strong>
        <small>Senin, 10-7-2023</small>
      </div>
      <div class="col-10 mb-1 small">Perbaikan blog simaster dan pengerjaann config clash android dan clash meta for android versi online.</div>
    </a>
    <a style="text-decoration:none;" href="#" class="list-group-item list-group-item-action py-3 lh-tight">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Pembuatan Blog Simaster</strong>
        <small class="text-muted">Minggu, 9-7-2023</small>
      </div>
      <div class="col-10 mb-1 small">Mengisi header, footer, carousel, sidebar, dan semua atribut lain nya.</div>
    </a>
    <a style="text-decoration:none;" href="#" class="list-group-item list-group-item-action py-3 lh-tight">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Optimasi Clash android</strong>
        <small class="text-muted">Sabtu, 8-7-2023</small>
      </div>
      <div class="col-10 mb-1 small">Perbaikan bug, proxy, proxy group, proxy provider, rule provider, dan dns.</div>
    </a>
  </div>
  </div>
<div class="b-example-divider"></div>