<center><h5><span>METODE PEMBAYARAN</span></h5></center>
<div style="text-align: center;position:center;">
<button onclick="bri('')" style="background:blue;color:white">BRI</button>
<button onclick="shopeepay('')" style="background:orange;color:white">SHOPEEPAY</button>
<button onclick="dana('')" style="background:green;color:white">DANA</button>
<button onclick="ovo('')" style="background:purple;color:white">OVO</button>
</div>
<script>
    function bri (url) {
        location.href = url;
    }
    function shopeepay (url) {
        location.href = url;
    }
    function dana (url) {
        location.href = url;
    }
    function ovo (url) {
        location.href = url;
    }
</script>