<center><h5><span>Donasi ID Tech Channel</span></h5></center>
<div style="text-align: center;position:center;">
<button onclick="sociabuzz('https://sociabuzz.com/master_wifi_network_solution/tribe')" style="background:teal;color:white">SociaBuzz</button>
<button onclick="saweria('https://saweria.co/masterwifi99')" style="background:grey;color:white">Saweria</button>
<button onclick="kofi('https://ko-fi.com/masterwifinetworksolution')" style="background:darkgreen;color:white">Ko-Fi</button>
<button onclick="paypal('https://paypal.me/myarachma92?country.x=ID&locale.x=id_ID')" style="background:darkblue;color:white">Paypal</button>
</div>
<div style="text-align: center;position:center;">
<button onclick="shopeepay('https://wsa.wallet.airpay.co.id/qr/002c19e25dbcb7e4b208?smtt=0.0.9')" style="background:orange;color:white">ShopeePay</button>
<button onclick="dana('')" style="background:lightblue;color:white">Dana</button>
<button onclick="bank('/donate-bank/')" style="background:green;color:white">Bank</button>
<button onclick="pulsa('/donate-pulsa/')" style="background:lime;color:white">Pulsa</button>
</div>
<script>
    function sociabuzz (url) {
        location.href = url;
    }
    function saweria (url) {
        location.href = url;
    }
    function kofi (url) {
        location.href = url;
    }
    function paypal (url) {
        location.href = url;
    }
    function shopeepay (url) {
        location.href = url;
    }
    function dana (url) {
        location.href = url;
    }
    function bank (url) {
        location.href = url;
    }
    function pulsa (url) {
        location.href = url;
    }
</script>
