<!-- footer -->
<footer>
    <!-- newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
            <h3 class="text-white">Berlangganan Info update Simaster</h3>
            <form action="mailto:myarachma92@gmail.com">
              <div class="input-wrapper">
                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Email Anda...">
                <button type="submit" value="send" class="btn btn-primary">Kirim</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            <!-- logo -->
            <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="/images/logo.png" alt="logo"></a>
            <ul class="list-unstyled">
              <li class="mb-2">Jl. A. Yani KM 14.500, Kec. Gambut, Kab. Banjar, Kalimantan Selatan, Indonesia</li>
              <li class="mb-2">+62 (877) 6424 1047</li>
              <li class="mb-2">admin@mwns.my.id</li>
            </ul>
          </div>
          <!-- company -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">File & Tutorial</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="/about.html">Tentang Simaster</a></li>
              <li class="mb-3"><a class="text-color" href="/file.html">File</a></li>
              <li class="mb-3"><a class="text-color" href="/contact.html">Kontak</a></li>
              <li class="mb-3"><a class="text-color" href="/blog.html">Blog</a></li>
            </ul>
          </div>
          <!-- links -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Syarat & Ketentuan</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="/disclaimer.html">Disclaimer</a></li>
              <li class="mb-3"><a class="text-color" href="/privacy-policy.html">Privacy Policy</a></li>
              <li class="mb-3"><a class="text-color" href="/periklanan.html">Periklanan</a></li>
              <li class="mb-3"><a class="text-color" href="/berlangganan.html">Berlangganan</a></li>
            </ul>
          </div>
          <!-- support -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Groups</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="{{site.groups-facebook}}">Facebook</a></li>
              <li class="mb-3"><a class="text-color" href="{{site.groups-whatsapp}}">Whatsapp</a></li>
              <li class="mb-3"><a class="text-color" href="{{site.groups-telegram}}">Telegram</a></li>
              <li class="mb-3"><a class="text-color" href="{{site.groups-messenger}}">Messenger</a></li>
            </ul>
          </div>
          <!-- support -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Costumer Services</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="{{site.messenger}}">Messenger</a></li>
              <li class="mb-3"><a class="text-color" href="{{site.whatsapp}}">Whatsapp</a></li>
              <li class="mb-3"><a class="text-color" href="{{site.telegram}}">Telegram</a></li>
              <li class="mb-3"><a class="text-color" href="mailto:{{site.email}}">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text-sm-left text-center">
            <p class="mb-0">Copyright &copy;
              <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script> 
              , developed by <a href="https://mwns.my.id" class="text-muted">Simaster</a>
            </p>
          </div>
          <div class="col-sm-5 text-sm-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href="{{site.facebook}}"><i class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="{{site.twitter}}"><i class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="{{site.github}}"><i class="ti-github text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="{{site.instagram}}"><i class="ti-instagram text-primary"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
