<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="tel:+6287764241047"><strong>CALL</strong> +62 877 6424 1047</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{site.facebook}}"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{site.twitter}}"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{site.github}}"><i class="ti-github"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{site.instagram}}"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/tag_pemberitahuan.html">Pemberitahuan</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/tag_files.html">Files</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="https://yotube.com/@idtechannel">Youtube</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#donasi" data-toggle="modal" data-target="#donasi">Donasi</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#langganan" data-toggle="modal" data-target="#langganan">Langganan Config</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="/index.html"><img src="/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">Beranda</a>
            </li>
            <li class="nav-item @@blog">
              <a class="nav-link" href="/blog.html">Blog Simaster</a>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Label Blog
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="openclash.html">Openclash</a></li>
                <li><a class="dropdown-item" href="passwall.html">Passwall</a></li>
                <li><a class="dropdown-item" href="openwrt.html">Openwrt</a></li>
                <li><a class="dropdown-item" href="mikrotik.html">Mikrotik</a></li>
                <li><a class="dropdown-item" href="router.html">Router</a></li>
                <li><a class="dropdown-item" href="modem.html">Modem</a></li>
                <li class="dropdown-item dropdown dropleft">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Antena
                  </a>
                  <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                    <li><a class="dropdown-item" href="/tag_antena-modem.html">Modem</a></li>
                    <li><a class="dropdown-item" href="/tag_antena-indoor.html">Router Indoor</a></li>
                    <li><a class="dropdown-item" href="/tag_antena-outdoor.html">Router Outdoor</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="aplikasi.html">Aplikasi</a></li>
                <li><a class="dropdown-item" href="software.html">Software</a></li>
                <li class="dropdown-item dropdown dropleft">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Firmware
                  </a>
                  <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                    <li><a class="dropdown-item" href="/tag_firmware-modem.html">Modem</a></li>
                    <li><a class="dropdown-item" href="/tag_firmware-router.html">Router</a></li>
                    <li><a class="dropdown-item" href="/tag_fimware-openwrt.html">Openwrt</a></li>
                  </ul>
                </li>
                <li class="dropdown-item dropdown dropleft">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kumpulan File
                  </a>
                  <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                    <li><a class="dropdown-item" href="/tag_rule.html">Rule</a></li>
                    <li><a class="dropdown-item" href="/tag_script.html">Script</a></li>
                    <li><a class="dropdown-item" href="/tag_port.html">Port</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Halaman Simaster
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/about.html">About</a></li>
                <li><a class="dropdown-item" href="/contact.html">Kontak</a></li>
                <li><a class="dropdown-item" href="/disclaimer.html">Disclaimer</a></li>
                <li><a class="dropdown-item" href="/privacy-policy.html">Privacy Policy</a></li>
                <li><a class="dropdown-item" href="#!">Forums</a></li>
                <li><a class="dropdown-item" href="/periklanan.html">Periklanan</a></li>
                <li><a class="dropdown-item" href="/seller-vpn.html">Seller VPN</a></li>
                <li><a class="dropdown-item" href="/marketplace.html">Toko Jual Beli</a></li>
              </ul>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href="free-config.html">config Gratis</a>
            </li>
            <li class="nav-item @@events">
              <a class="nav-link" href="premium-config.html">Config Premium</a>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="/contact.html">Kontak</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->
