<header>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
   </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://i.ytimg.com/vi/R8gq5lr_haQ/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBjAKAAuADigIMCAAQARhyIEcoKzAP&rs=AOn4CLDTyAJWuS3eF7eeBWl_FvJq3rzW_g')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=R8gq5lr_haQ&t=64s" target="_blank">cara mengatasi router tenda tidak tersambung internet</a></h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/tr2adr_ZkMI/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDwUjiBQT_YBVFMySBSwMnkc3a1WA')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=tr2adr_ZkMI&t=14s" target="_blank">mengatasi wifi tidak bisa konek ke stb openwrt</a></h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/z9-cAuwG8x4/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB2rPAWAorU_M4v8O5yshsaBZMNwg')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=z9-cAuwG8x4&t=3s" target="_blank">Remote openwrt dengan Zerotier</a></h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/TOG-bocz8F8/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBzgWAAoAKigIMCAAQARh_ID4oFTAP&rs=AOn4CLDwwFvm4Fyu8BFdNYZ4Ic-b-A76tw')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=TOG-bocz8F8" target="_blank">Cara limit bandwidht di router tenda</a></h5>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/h_PFo4mbw-A/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAbIRqg0YA5N0_p4bGuxzPvWKApxg')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=h_PFo4mbw-A&t=19s" target="_blank">cara setting auto reboot di openwrt</a></h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/5ypncHC-LUo/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCHAOgj0X8s7dc5fb9EEb7RQAf2eA')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=5ypncHC-LUo&t=253s" target="_blank">Setting zte f609 sebagai bridge akses point stb openwrt</a></h5>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/byubft70FW4/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDqmv7Ezw7HvnrN1Qgf-J6qLQEWlA')">
        <div class="carousel-caption">
          <h5><a style="color:teal" href="https://www.youtube.com/watch?v=byubft70FW4&t=28s" target="_blank">Mengatasi wan ip koneksi dan klien di openwrt</a></h5>
        </div>
      </div>
    </div>
  </div>
</header>
