<style>
#topbar {
height:30px;
width:auto;
margin:0 auto;
background: #005094 url('http://lh3.ggpht.com/_beEpWOXwLJE/TIb57Lu4fwI/AAAAAAAABE0/q7niFVRbyNE/top-toolbar.jpg');
background-repeat:repeat-x;
text-align:left;
padding-top:4px;
}
#adsground {
height:auto;
margin:0 auto;
width: 336px;
background:pink;
border-bottom:2px pink solid;
border-right:2px pink solid;
border-left:2px pink solid;
text-align:Center;
padding:4px;
}


#headlineatas {
opacity:1.0;
height:auto;
width:auto;
position:fixed;
top:65px;
left:170px;
border-bottom:1px pink solid;
border-bottom:0px pink solid;
color:black;
padding:0px;
z-index:1001;
position: fixed;
top: 50%;
left: 50%;
margin-top: -120px;
margin-left: -220px;
font-size:13px;}
</style>
<script type="text/javascript">
function getValue()
{
document.getElementById("headlineatas").style.display = 'none';
}
</script>
<div id="headlineatas">
<div id="topbar">
<span style="color:#fff;font-size:13px;font-weight:bold;text-shadow:black 0.1em 0.1em 0.1em;float:right;padding-top:3px;padding-right:10px"><a target="_blank" onclick="getValue()">Tutup</a></span>
</div>
<div id="adsground">
<p>Join usahamu di <a style="color:darkred" href="https://wa.me/6287764241047" target="_blank"><b>Yusuf Store</b></a><br>
Kami akan bersedia support anda sepenuhnya.<br />
<a href="https://wa.me/6287764241047"><img src="assets/images/iklanku1.jpg" width="250" height="250" alt="iklan" border="0"></p>
</div>
</div>
