<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title">Para Master</h2>
         <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="/para-master.html" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">Lihat semua</a>
          </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="/images/teachers/yusuf.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Muhammad Yusuf</h4>
            </a>
            <p>Master of clash and passwall indonesian</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="#!"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="https://github.com/mwnsofficial"><i class="ti-github"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="https://youtube.com/@idtechannel"><i class="ti-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="/images/teachers/reyre.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Reyre STb</h4>
            </a>
            <p>Master of openwrt reyre stb indonesian</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="https://www.facebook.com/r3yr3"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="https://github.com/r3yr3"><i class="ti-github"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="https://youtube.com/@indonesiantech"><i class="ti-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="/images/teachers/ryanfauzi.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Ryan Fauzi</h4>
            </a>
            <p>Master of xderm mini indonesian</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="https://www.facebook.com/peretasdenasri"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="https://github.com/ryanfauzi1"><i class="ti-github"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#!"><i class="ti-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="/images/teachers/dirodarm.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Dirodarm</h4>
            </a>
            <p>Master of daloradius indonesian</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="https://www.facebook.com/diro.darmawan"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#!"><i class="ti-github"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="#!"><i class="ti-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="/para-master.html" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">Lihat semua</a>
      </div>
    </div>
  </div>
</section>
