<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title">Para Master</h2>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-1.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Muhammad Yusuf</h4>
            </a>
            <p>Channel Master Wifi Network Solution</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.google}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.linkedin}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-2.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Reyre STb</h4>
            </a>
            <p>Channel Openwrt Mod</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook2}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter2}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{sitr.google2}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.linkedin2}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="card border-0 rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="images/teachers/teacher-3.jpg" alt="teacher">
          <div class="card-body">
            <a href="teacher-single.html">
              <h4 class="card-title">Bang Sandi</h4>
            </a>
            <p>Channel Bang Sandi TV</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-color" href="{{site.facebook3}}"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.twitter3}}"><i class="ti-twitter-alt"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.google3}}"><i class="ti-google"></i></a></li>
              <li class="list-inline-item"><a class="text-color" href="{{site.youtube3}}"><i class="ti-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->
