<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a style="text-decoration:none;color:white;border-color:black;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Beranda</a>
    <a style="text-decoration:none;color:white;border-color:darkred;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Configuration</a>
    <a style="text-decoration:none;color:white;border-color:red;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Proxies</a>
    <a style="text-decoration:none;color:white;border-color:orange;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Proxy Provider File</a>
    <a style="text-decoration:none;color:white;border-color:grey;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Proxy Provider HTTP</a>
    <a style="text-decoration:none;color:white;border-color:green;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Proxy Group</a>
    <a style="text-decoration:none;color:white;border-color:darkgreen;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Rule Provider File</a>
    <a style="text-decoration:none;color:white;border-color:grey;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Rule Provider HTTP</a>
    <a style="text-decoration:none;color:white;border-color:darkblue;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Rules</a>
    <a style="text-decoration:none;color:white;border-color:blue;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Rule Script</a>
    <a style="text-decoration:none;color:white;border-color:darkpurple;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Rule Meta</a>
    <a style="text-decoration:none;color:white;border-color:purple;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Port Script</a>
    <a style="text-decoration:none;color:white;border-color:pink;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Port Meta</a>
    <a style="text-decoration:none;color:white;border-color:cream;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">Global Setting</a>
    <a style="text-decoration:none;color:white;border-color:grey;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">DNS</a>
    <a style="text-decoration:none;color:white;border-color:brown;" class="p-2 link-secondary btn btn-sm btn-outline-secondary" href="#">TUN</a>
  </nav>
</div>
