<section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="https://youtu.be/ilbLf4b9bYQ?si=f3vpVRlvIfxkc1SA" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">Kunci Kesuksesan Belajar</h2>
          <p>Hal yang perlu kita semua ketahui agar bisa sukses dalam belajar adalah ketekunan, kegigihan, terampil, semangat yang tinggi, dan tidak pantang untuk menyerah.</p>
          <p>Kami ingin anda bisa seperti kami dan bisa mandiri setelah berhasil dalam pembelajaran yang anda pelajari kepada kami. <br><br><b>Muhammad Yusuf</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
