<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Advertising</span></h5>
        <!-- sidebar -->
<a href="https://wa.me/6287764241047"><img src="assets/images/iklanku1.jpg" width="250" height="250" alt="iklan" border="0">
    </div>
    <div class="sidebar-section">
        <h5><span>View Counter</span></h5>
        <a href="https://info.flagcounter.com/6W0E"><img src="https://s11.flagcounter.com/count2/6W0E/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
    </div>
    <div class="sidebar-section">
        <h5><span>Advertising</span></h5>
        <!-- sidebar -->
<a href="https://wa.me/6287764241047"><img src="assets/images/iklanku1.jpg" width="250" height="250" alt="iklan" border="0">
    </div>
</div>
