<!doctype html>
<html lang="en">
{% include head.html %}
<body>
<main>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h3>Simaster</h3>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Beranda</a></li>
          <li><a href="/download" class="nav-link px-2 text-white">Download</a></li>
          <li><a href="/disclaimer" class="nav-link px-2 text-white">Disclaimer</a></li>
          <li><a href="/privacy-policy" class="nav-link px-2 text-white">Privacy Policy</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form action="/search/" method="get">
        <input type="text" id="search_box" name="query">
        <input type="submit" value="search">
        </form>

        <div class="text-end">

          <button onclick="contact('/contact')" type="button" class="btn btn-outline-light me-2">Kirim Pesan</button>
          <button onclick="register('https://forms.gle/gw7k5jWv27bVgpr29')" type="button" class="btn btn-warning">Langganan Premium</button>
        </div>
      </div>
    </div>
  </header>
{{ content }}
{% include iklan-popup.html %}
{% include footer.html %}
</main>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/sidebars.js"></script>
    <script src="{{ site.baseurl }}/assets/jscheatsheet.js"></script>
    <script src="https://kit.fontawesome.com/602c3e9e87.js" crossorigin="anonymous"></script>
<script>
    function contact (url) {
        location.href = url;
    }
    function register (url) {
        location.href = url;
    }
</script>
</body>
</html>
