<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include iklan-popup.html %}
<main>
 <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h3><span>{{site.title}}</span></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-bolt"></i> Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/categories/"><i class="fa-light fa-folder-magnifying-glass"></i> Kategori Post</a>
          </li>
        </ul>
        <form action="/search/" method="get">
	      	<label for="search_box">Search</label>
	      	<input type="text" id="search_box" name="query">
	      	<input type="submit" value="search">
      	</form>
      </div>
    </div>
  </nav>
</div>
{{ content }}

{% include footer.html %}
</main>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/sidebars.js"></script>
    <script src="{{ site.baseurl }}/assets/jscheatsheet.js"></script>
    <script src="https://kit.fontawesome.com/602c3e9e87.js" crossorigin="anonymous"></script>
  </body>
</html>
