---
layout: default
---
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/tag_marketplace.html">Marketplace</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">{{ page.title }}</li>
        </ul>
        <p class="text-lighten mb-0">{{ page.description }}.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{{ page.image }}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{ page.title }}</h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-link text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">CHART</h6>
                <p class="mb-0"><a href="{{ page.facebook }}" class="btn btn-primary">FACEBOOK</a></p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-shopping-cart text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">CHART</h6>
                <p class="mb-0"><a href="{{ page.shopee }}" class="btn btn-primary">SHOPEE</a></p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">HARGA</h6>
                <p class="mb-0">{{ page.harga }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="{{ page.link }}" class="btn btn-primary">PESAN SEKARANG</a>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- marketplace -->
    <div class="row">
      <div class="col-12 mb-4">
        <h3>Deskripsi:</h3>
        <p>{{ content }}</p>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">Kelengkapan Barang:</h3>
        <div class="col-12 px-0">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-styled">
                <li>{{ page.kelengkapan1 }}</li>
                <li>{{ page.kelengkapan2 }}</li>
                <li>{{ page.kelengkapan3 }}</li>
                <li>{{ page.kelengkapan4 }}</li>
                <li>{{ page.kelengkapan5 }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <h3 class="mb-3">Keterangan Barang:</h3>
        <ul class="list-styled">
          <li>{{ page.keterangan1 }}</li>
          <li>{{ page.keterangan2 }}</li>
          <li>{{ page.keterangan3 }}</li>
          <li>{{ page.keterangan4 }}</li>
          <li>{{ page.keterangan5 }}</li>
        </ul>
      </div>
      <div class="col-12 mb-5">
        <h3>Catatan:</h3>
        <p>{{ page.catatan }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /marketplace -->
